# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
